.projetos {
  padding-top: 20px;
}

.projetos h3 {
  text-align: center;
  font: var(--texto);
  margin-top: 30px;
}

.projetos .interface-flex {
  gap: 40px;
}

.card-projetos {
  background-color: var(--background-color);
  border: 0.3px solid var(--color-destaque);
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 4px 3.5px var(--color-destaque);
  padding: 20px;
  text-align: center;
  max-width: 350px;
  height: 230px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}
.projetos .card-projetos:hover {
  transform: scale(1.02);
  box-shadow: 0.5px 0.5px 4px 6px var(--color-destaque);;
}

.projetos.hidden {
  display: none;
}

.projetos i {
  font-size: 5rem;
  color: var(--color-strong);
}

.projetos h3 {
  font-size: 1.5rem;
  color: var(--color-destaque);
  margin: 15px 0;
}

.projetos p {
  text-align: center;
  font-size: .8rem;
}
