.projetos {
  padding-top: 20px;
}
.projetos h3 {
  text-align: center;
  font: var(--texto);
  margin-top: 30px;
}
.projetos .interface-flex {
  gap: 20px;
}
.card-projetos {
  background-color: var(--background-color);
  border: 0.3px solid var(--color-destaque);
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 4px 3.5px var(--color-destaque);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 400px;
  height: 230px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.projetos i {
  font-size: 5rem;
  color: var(--color-strong);
}

.projetos h3 {
  font-size: 1.5rem;
  color: var(--color-destaque);
  margin: 15px 0;
}

.projetos p {
  text-align: center;
  font-size: .8rem;
}
