.sobre {
  padding-top: 20px;
}

.sobre .interface-flex {
  gap: 3rem;
  padding: 0;
  margin-bottom: 0px;
}
.img_sobre{
  display: flex;
  max-width: 900px;

}
.img_sobre img{
  display: flex;
  width: 100%;
  border-radius: 10px;
}

.text_sobre p {
  text-indent: 1rem;
  margin: 1rem 0;
}
