.oculta {
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  overflow: hidden;
  transition: grid-template-rows 0.6s ease, opacity 0.4s ease;
  box-shadow: 0 0 40px 10px var(--color-shadown);
  padding: 0 2%;
}

.oculta > div {
  overflow: hidden;
}

.oculta.show {
  grid-template-rows: 1fr;
  opacity: 1;
}

.oculta .interface-flex {
  width: 100%;
  padding: 0;
  flex-direction: column;
  columns: 1;
  align-items: center;
  justify-content: space-between;
  gap: 45px;
}

button.hide-btn {
  width: 30%;
  padding: 10px 15px;
  border-radius: 15px;
  color: var(--color-fonte-geral);
  background-color: var(--body-background-color);
  cursor: pointer;
  margin: 15px -20px;
  font-size: 1rem;
  font-weight: 600;
  transform: scale(1);
  transition: all 0.8s ease-in-out ease-in;
}

button.hide-btn:hover {
  transition: all 0.5s ease-in-out ease-in;
  transform: scale(1.01);
  color: var(--color-strong);
  border-color: var(--color-strong);
}
