
.home{
    margin: 0 auto;
    max-width: 900px;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.label p{
    font: var(--texto-titulos);   
}

#typing::after {
    content: '|';
    margin-left: 5px;
    animation: piscar 1s infinite;
}

@keyframes piscar {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.redes__sociais{
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}   

.redes__sociais i  {  
    color: var(--color-strong);
    transition: transform 0.2s ease, var(--color-strong) 0.2s ease;
}   
.redes__sociais i:hover  {
    color: var(--color-strong);
    transition: 0.3s;
    transform: scale(1.2);
}

#hand {
  display: inline-block;
  transform-origin: 70% 70%;
}

.aceno {
  animation: wave 5s ease-in-out infinite;
}

@keyframes wave {
  0% {transform: rotate(0deg);}
  5% {transform: rotate(14deg);}
  10% {transform: rotate(-8deg);}
  15% {transform: rotate(14deg);}
  20% {transform: rotate(-4deg);}
  25% {transform: rotate(10deg);}
  30% {transform: rotate(0deg);}
  100% {transform: rotate(0deg);}
}
