
.home{
    /* background: linear-gradient(to right, var(--background-color), var(--color-fonte-geral)); */
    height: 100dvh;
    margin: 0 auto;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid var(--color-destaque); */
}


.label p{
    font: var(--texto-titulos);   
}

#typing::after {
    content: '|';
    margin-left: 5px;
    animation: piscar 1s infinite;
}

@keyframes piscar {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.redes__sociais{
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}   

.redes__sociais i  {  
    color: var(--color-strong);
    transition: transform 0.2s ease, var(--color-strong) 0.2s ease;
}   
.redes__sociais i:hover  {
    color: var(--color-strong);
    transition: 0.3s;
    transform: scale(1.2);
}





