@media screen and (max-width: 970px) {
    i, h1{
        font-size: 2.5rem;
    }

    h2 {

        font-size: 1.5rem;
    }
    
    .fundo {
        width:96%;
    }

    .home{
        height: 80vh;
        width: 100%;
    }
    
    .home p{
        font-size: 1.5rem;
    }
    .home span{
        font-size: 1.5rem;
    }

    .projetos .interface-flex,
    .sobre .interface-flex{
        
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    .sobre .interface-flex{
        flex-direction: column-reverse;
    }

    .cabeca {
        left: 0;
        bottom: 0;
        top: auto;
        background-color: black;
        width: 100%;
        height: 60px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateY(0);
        z-index: 1000;
    }

    .cabeca.hide {
        transform: translateY(100%);
    }

    .cabeca:hover {
        left: 0; 
    }

    .doc_menu_desktop ul {
        width: 90%;
        display: flex;
        flex-direction: row;
        gap: .7rem;
        justify-content: space-around;
        border: none;    
    }
    
    .sobre img {
        max-width: 350px;
    }   

    .portifolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .portifolio div {
        width: 99%;
    } 

    .img_port {   
        width: 100%;
    }
    .footer p{
        padding-bottom: 70px;
    }
}