.portifolio {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 2%;
  align-items: center;
  justify-items: space-between;
  border-radius: 20px;
  background-color: var(--color-strong);
  padding: 20px;
}

.portifolio div {
  gap: 20px;
  padding: 0;
  margin: 0 auto;
}

.img_port {
  margin: 0 auto;
  width: 450px;
  height: 350px;
  background-size: cover;
  background-position: 100% 0%;
  margin-top: 20px;
  border-radius: 20px;
  transition: 5s ease-in-out;
  position: relative;
}

.img_port:hover {
  background-position: 100% 100%;
  transition: .5s ease-in-out ;
  transform: scale(1.02);
}

.over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.283);
  color: var(--color-destaque);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 1.5rem;
  opacity: 0;
  transition: 5s ease-in-out;
}

.over:hover {
  opacity: 1;
  transition: .5s ease-in-out ;
  transform: scale(1.02);
  box-shadow: 0 4px 5px 10px var(--color-shadown);
}

.flexivel ul li {
  list-style: none;
}

.over:hover a {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  transform: scale(1.02);
  color: var(--color-fonte-geral);
  background-color: var(--color-strong);
  border: 2px solid var(--color-destaque);
}

.desc-repositorio {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  columns: 1;
  justify-content: space-between;
  padding: 20px;
  text-align: left;
  color: var(--color-fonte-geral);
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid var(--color-destaque);
}
.desc-repositorio p {
  margin: 10px;
}

.used-skill {
  position: relative;
  bottom: 20px;
}

.used-skill i {
  padding: 0 10px;
  font-size: 1.5rem;
}

.repositorio {
  position: relative;
  bottom: 10px;
  padding: 5px 40px;
  font-size: 1.2rem;
  font-weight: 900;
  border-radius: 10px;
  background-color: var(--color-strong);
  border: solid 2px var(--color-destaque);
  cursor: pointer;
  text-decoration: none;
}

.repositorio:hover {
  transform: scale(1.03);
  background-color: rgba(250, 250, 250, 0.616);
  transition: 0.5s ease-in-out ease-in;
  color: var(--color-fonte-geral);
}

.portifolio div h3 {
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  color: var(--color-fonte-geral);
}
